<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">
{% load highlight %}
{% load static %}
<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <!-- 网站标题 -->
    <title>资讯页</title>
    {% load static %}
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!-- 引入monikai.css -->
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--导入css-->
    <link rel="stylesheet" href="{% static 'common/common.css' %}">
    <link rel="stylesheet" href="{% static 'common/jquery.pagination.css' %}">
    <!-- 引入vuejs -->
    <script type="text/javascript" src="{% static 'js/vue-2.5.16.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/axios-0.18.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
</head>

<body>
<div id="app">
    <!-- 定义导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">
            <!-- 导航栏商标 -->
            <div>
                <a class="navbar-brand" href="{% url 'goods:index' %}">首页</a>
                <a class="navbar-brand" href="{% url 'user:mynewstr' %}">我的文章</a>
                <a class="navbar-brand" href="{% url 'user:write' %}">发布文章</a>
            </div>
            <!-- 分类 -->

        </div>

        <!--搜索-->
        <div class="input-group">
            <form class="form-inline" action="/searchnewstr/" method="get">
                <input type="text" class="form-control input-lg" name="q" placeholder="搜索更多资讯">
                <input type="submit" class="input-group-addon btn btn-primary" name="" value="搜索" style="background-color: #343a40;border-color: #bfccda;">
            </form>
        </div>

    </nav>

    <div class="container">
        {% for article in page %}
            <div class="row mt-2">
            <div class="col-3">
                <a href="{% url 'goods:newdetail' %}?id={{ article.object.id }}">
                    <img src="{{ article.object.avatar.url }}" alt="avatar" style="max-width:100%; border-radius: 20px">
                </a>
            </div>

            <div class="col">
                <!-- 标题 -->
                <h4>
                    <b><a href="{% url 'goods:newdetail' %}?id={{ article.object.id }}" style="color: black;">{% highlight article.object.title with query %}</a></b>
                </h4>
                 <!-- 作者 -->
                <span >作者：{% highlight article.object.author with query %}</span>

                <!-- 摘要 -->
                <div>
                    <p style="color: gray;" >
                        概要：{% highlight article.object.sumary with query%}
                    </p>
                </div>

            </div>

        {% empty %}
            <h3>没有找到相关文章</h3>
        {% endfor %}
        </div>

        <!-- 页码导航 -->
        <div class="pagenation" style="text-align: center">
            <div id="pagination" class="page"></div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="py-3 bg-dark" id="footer">
        <div class="container">
            <h5 class="m-0 text-center text-white">Copyright @ Alloygame</h5>
        </div>
    </footer>
</div>
<script type="text/javascript" src="{% static 'js/jquery.pagination.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('#pagination').pagination({
            currentPage: {
                {
                    page_num
                }
            },
        totalPage: {
            {
                total_page
            }
        }
    ,
        callback:function (current) {

            location.href = '/?cat_id={{ category.id }}&page_size={{ page_size }}&page_num=' + current;
        }
    })
    });
</script>
    <style>
        span.highlighted {
            color: red;
        }
    </style>
</body>
</html>