{% extends 'base.html' %}
{% load static %}
{% block title %}修改密码{% endblock %}

{% block topfiles %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
{% endblock topfiles %}
{% block header_con %}{% endblock header_con %}
{% block search_bar %}{% endblock search_bar %}
{% block body %}
    <div class="register_con">
        <div class="l_con fl">
            <a href="{% url "goods:index" %}" class="login_logo"><img src="/static/images/logo02.png"></a>
            <div class="reg_slogan">好游戏 · 共赏玩</div>
            <div class="reg_banner"></div>
        </div>

        <div class="r_con fr">
            <div class="reg_title clearfix">
                <h1>修改密码</h1>
                <a href="{% url "user:login" %}">登录</a>
            </div>
            <div class="reg_form clearfix">
                <form method="post" action="/user/ChangePassword/">
                    {% csrf_token %}
                    <ul>
                        <li>
                            <label>用户名:</label>
                            <input type="text" name="user_name" id="user_name">
                            <span class="error_tip">提示信息</span>
                        </li>
                        <li>
                            <label>新密码:</label>
                            <input type="password" name="password" id="password">
                            <span class="error_tip">提示信息</span>
                        </li>

                        <li>
                            <label>图片验证码:</label>
                            <input type="text" id="image_code" >
                            <img src="/user/ImageCode/"  alt="" class="img_code">
                        </li>

                        <li>
                            <label>验证码:</label>
                            <input type="text" id="code">
                            <input type="button" value="获取验证码" id="send_code" class="stress" style="width: 85px; margin:0 auto 0 5px;background: #000000">
                        </li>

                        <li>
                            <input type="button" value="提交" id="b" class="stress" style="width:369px;height:50px;background: #090808">
                        </li>
                    </ul>
                </form>
                {{ errmsg }}
            </div>
        </div>
    </div>
{% endblock body %}
{% block bottomfiles %}
    <style type="text/css">

    #b{
        display: block;
        margin:5px auto;
    }
    .stress{
        color: #ffffff;
    }
    .stress:hover{
        cursor:pointer;
        color:red;
    }
    .img_code{
        display: block;
        margin:-5px auto 3px auto;
        width: 80px;
        height: 40px;
    }

</style>
<script>
$('#send_code').click(function () {
    user_name = $("#user_name").val();
                csrf = $('input[name="csrfmiddlewaretoken"]').val()
                params={
                'user_name':user_name,
                'csrfmiddlewaretoken':csrf
            }
            $.post('/user/send_code/',params, function (data) {
                //
                if (data.code==1)
                {
                    alert('发送成功');
                }
            })
})
        $('#b').click(function () {
    user_name = $("#user_name").val();
                csrf = $('input[name="csrfmiddlewaretoken"]').val();
                password = $("#password").val();
                code = $("#code").val();
                img_code = $("#image_code").val();
                params={
                'user_name':user_name,
                'csrfmiddlewaretoken':csrf,
                    "password": password,
                    "code":code,
                    "img_code":img_code,
            }
            $.post('/user/change_password/',params, function (data) {
                //
                if (data.code==1)
                {
                    alert('修改成功');
                    window.location.href= "/user/login/";

                }
                else{
                    alert("修改失败");

                }
            })

})
</script>
{% endblock bottomfiles %}